.navbar a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    height: 20px;
    width: max-content;
    position: relative;
    transition: .3s;
}

.navbar a:hover {
    color: rgb(255, 230, 0);
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .2s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

.navbar a:hover::after {
    transform: scaleX(1);
}

/* = */

::-webkit-scrollbar {
    background-color: #4B5467;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #4B546f;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

/* - */

.insta {
    background-image: url(../img/instagram.png);
}

.linkedin {
    background-image: url(../img/linkedin.png);
}

.zap {
    background-image: url(../img/whatsapp.png);
}

.github {
    background-image: url(../img/github.png);
}

.tailwind {
    background-image: url(../img/tailwind.png);
}

.php {
    background-image: url(../img/php.png);
}

.email {
    background-image: url(../img/email.png);
}

.js {
    background-image: url(../img/javascript.png);
}


.mustang {
    background-image: url(../img/mustang.png);
    background-size: cover;
    background-position: center;
}

.listen {
    background-image: url(../img/listenxd.png);
    background-size: cover;
    background-position: center;
}

.focus {
    background-image: url(../img/focus.png);
    background-size: cover;
    background-position: center;
}

/* .animar {
    opacity: 0;
    transform: translateX(-200px);
    transition: opacity 0.8s, transform 0.8s;
}

.animar.is-visible {
    opacity: 1;
    transform: translateX(0);
} */